@import "variables";

.sp-top { margin-top: $size-spacement; }
.sp-left { margin-left: $size-spacement; }
.sp-right { margin-right: $size-spacement; }
.sp-bottom { margin-bottom: $size-spacement; }
.sp-vertical { margin-top: $size-spacement / 2; margin-bottom: $size-spacement / 2; }
.sp-horizontal { margin-left: $size-spacement / 2; margin-right: $size-spacement / 2; }
.sp-none { margin: 0; }

.sp-separator { margin-top: 2*$size-spacement; margin-bottom: 2*$size-spacement }
.text-bold { font-weight: bold; }

img.avatar {
	width: $size-avatar;
	height: $size-avatar;
	border-radius: $size-avatar/2;
}
img.avatar-mini {
	width: $size-avatar/3;
	height: $size-avatar/3;
	border-radius: $size-radius;
}

input[type=checkbox] { vertical-align: middle; margin: auto 0; }
input[type=search] { width: 80%; height: 1.7rem; margin-bottom: 0; padding: 0 5px; }

h3 { border-bottom: 1px solid $color-border }

a[tooltip] { margin-left: $size-spacement / 4; margin-right: $size-spacement / 4; }
td { height: 40px }

.button-search {
	padding: 3px 10px;
	margin-bottom: 0;
	background-color: $color-dark-blue;
}

// Overrides
p { margin-bottom: 0 }
.button.tiny { padding: 0.2rem }
tfoot ul.pagination { margin-bottom: 0}
button.success:hover, button.success:focus { background-color: $color-dark-green; }
.button.secondary:hover, .button.secondary:focus { background-color: $color-grey; color: white}