// COLORS
$color-dark-blue: #004466;
$color-dark-grey: #414650;
$color-dark-red: #880000;
$color-dark-green: #008800;
$color-dark-yellow: #B59C27;

$color-black: black;
$color-blue: #008CE1;
$color-grey: #C6C6C5;

$color-light-red: #F2DEDE;
$color-light-grey: #EEE;
$color-lighter-grey: #F9F9F9;

$color-text-dark: black;
$color-text-light: white;
$color-border: #C6C6C6;
$color-panel-border: #C6C6C6;
$color-background: white;

// SIZES
$size-huge-title: 36px;
$size-big-title: 25px;
$size-title: 20px;
$size-sub-title: 14px;
$size-text: 13px;
$size-sub-text: 12px;

$size-avatar: 75px;
$size-radius: 3px;
$size-height-headbar: 75px;
$size-width-page: 980px;
$size-width-toc-sidebar: 280px;
$size-spacement: 20px; // Standard size for spacement

$z-index-heardbar: 100;