@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\000033}}
.sp-top {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\000034}}
.sp-left {
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\000035}}
.sp-right {
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\000036}}
.sp-bottom {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\000037}}
.sp-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\000038}}
.sp-horizontal {
  margin-left: 10px;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\000039}}
.sp-none {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000311}}
.sp-separator {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000312}}
.text-bold {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000313}}
.cursor-pointer {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000315}}
img.avatar {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000320}}
img.avatar-mini {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000326}}
input[type=checkbox] {
  vertical-align: middle;
  margin: auto 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000327}}
input[type=search] {
  width: 80%;
  height: 1.7rem;
  margin-bottom: 0;
  padding: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000329}}
h3 {
  border-bottom: 1px solid #c6c6c6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000332}}
h3 a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000341}}
a[tooltip] {
  margin-left: 5px;
  margin-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000342}}
td {
  height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000344}}
.button-search {
  padding: 3px 10px;
  margin-bottom: 0;
  background-color: #004466;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000350}}
.pr-col-id, .issue-col-id {
  width: 65px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000351}}
.pr-col-arrow {
  width: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000352}}
.pr-col-icons, .issue-col-icons {
  width: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000353}}
.pr-col-from, .pr-col-to, .pr-col-infos {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000354}}
.issue-col-people {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000356}}
.label-issue {
  border-radius: 6px;
  margin-right: 10px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000365}}
article.reduced h3 {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000366}}
article.reduced .reduced-feature {
  font-size: 20px;
  font-weight: bold;
  color: #008800;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000372}}
article.reduced .reduced-feature.active {
  color: #880000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000377}}
.selectedRepo:hover {
  border: 1px dotted #c6c6c6;
  background-color: white;
  padding: 5px 10px;
  margin: 0px 2px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000387}}
p {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000388}}
.button.tiny {
  padding: 0.2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000389}}
tfoot ul.pagination {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000391}}
button:hover, button:focus,
.button:hover, .button:focus {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000393}}
button.success:hover, button.success:focus,
.button.success:hover, .button.success:focus {
  background-color: #008800;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000395}}
button.secondary:hover, button.secondary:focus,
.button.secondary:hover, .button.secondary:focus {
  background-color: #c6c6c5;
  font-weight: bold;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000396}}
button[disabled=disabled], .button[disabled=disabled] {
  font-weight: normal;
  cursor: not-allowed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\0000398}}
.panel.title {
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  padding: 10px;
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\00003105}}
.panel.title i {
  border-radius: 3px;
  padding: 3px;
  font-size: 20px;
  color: white;
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sylvain\/projets\/github-dashboard\/app\/styles\/main\.scss}line{font-family:\00003114}}
.panel.content {
  margin-bottom: 0;
  background-color: white;
  border-top: 0;
}
