/* line 3, ../main.scss */
.sp-top {
  margin-top: 20px;
}

/* line 4, ../main.scss */
.sp-left {
  margin-left: 20px;
}

/* line 5, ../main.scss */
.sp-right {
  margin-right: 20px;
}

/* line 6, ../main.scss */
.sp-bottom {
  margin-bottom: 20px;
}

/* line 7, ../main.scss */
.sp-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 8, ../main.scss */
.sp-horizontal {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 9, ../main.scss */
.sp-none {
  margin: 0;
}

/* line 11, ../main.scss */
.sp-separator {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 12, ../main.scss */
.text-bold {
  font-weight: bold;
}

/* line 14, ../main.scss */
img.avatar {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
}

/* line 19, ../main.scss */
img.avatar-mini {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

/* line 25, ../main.scss */
input[type=checkbox] {
  vertical-align: middle;
  margin: auto 0;
}

/* line 26, ../main.scss */
input[type=search] {
  width: 80%;
  height: 1.7rem;
  margin-bottom: 0;
  padding: 0 5px;
}

/* line 28, ../main.scss */
h3 {
  border-bottom: 1px solid #c6c6c6;
}

/* line 30, ../main.scss */
a[tooltip] {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 31, ../main.scss */
td {
  height: 40px;
}

/* line 33, ../main.scss */
.button-search {
  padding: 3px 10px;
  margin-bottom: 0;
  background-color: #004466;
}

/* line 39, ../main.scss */
.pr-col-id, .issue-col-id {
  width: 65px;
}

/* line 40, ../main.scss */
.pr-col-arrow {
  width: 15px;
}

/* line 41, ../main.scss */
.pr-col-icons, .issue-col-icons {
  width: 40px;
}

/* line 42, ../main.scss */
.pr-col-from, .pr-col-to, .pr-col-infos {
  width: auto;
}

/* line 43, ../main.scss */
.issue-col-people {
  width: 100px;
}

/* line 46, ../main.scss */
p {
  margin-bottom: 0;
}

/* line 47, ../main.scss */
.button.tiny {
  padding: 0.2rem;
}

/* line 48, ../main.scss */
tfoot ul.pagination {
  margin-bottom: 0;
}

/* line 49, ../main.scss */
button.success:hover, button.success:focus {
  background-color: #008800;
}

/* line 50, ../main.scss */
.button.secondary:hover, .button.secondary:focus {
  background-color: #c6c6c5;
  color: white;
}
