<div class="row">
    <div class="large-12 columns">
		<div class="nav-bar right">
			<ul class="button-group">
				<li><a href="#/settings" class="button">Settings</a></li>
			</ul>
		</div>
		<h1>My Github projects <small></small></h1>
		<hr/>
    </div>
</div>





<div class="row">
	<div class="large-9 columns" ng-init="Projects.repositories(); Projects.getData()">
		<article ng-repeat="project in Projects.names" class="sp-bottom">
			<h3><a href="#">{{ project.owner }}<i class="fa fa-angle-double-right sp-horizontal"></i>{{ project.name }}</a></h3>

			<div class="panel" ng-init="pulls = Projects.pullRequests[project.owner + '/' + project.name]" ng-show="Projects.display.pullRequests && pulls.length > 0">
				<h4>{{ pulls.length }} active pull request(s)</h4>
				<table width="100%">
					<thead>
						<tr>
							<th></th>
							<th>From</th>
							<th></th>
							<th>To</th>
							<th colspan="2">Infos</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pull in pulls">
							<td class="pr-col-id"><i class="fa fa-code-fork"></i>&nbsp;{{ pull.number }}</td>
							<td class="pr-col-from">{{ pull.branch.ref }}</td>
							<td class="pr-col-arrow"><i class="fa fa-arrow-circle-o-right"></i></td>
							<td class="pr-col-to">{{ pull.base.ref }}</td>
							<td class="pr-col-infos">
								<span>
									<img ng-src="{{ pull.user.avatar_url }}" class="avatar-mini has-tooltip"
											 tooltip="{{ pull.user.login }}" tooltip-placement="bottom"/>
								</span>
								<em>{{ pull.title }}</em>
							</td>
							<td class="pr-col-icons">
								<a ng-href="{{ pull.html_url }}" class="has-tooltip sp-horizontal"
									 tooltip="View this Pull Request on github" tooltip-placement="left">
									<i class="fa fa-eye"></i>
								</a>
								<a class="has-tooltip sp-horizontal" tooltip="Opened for {{ Projects.since(pull.created_at) }}" tooltip-placement="left">
									<i class="fa fa-clock-o"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


      <div class="panel" ng-init="issues = Projects.issues[project.owner + '/' + project.name]" ng-show="Projects.display.issues && issues.length > 0">
				<h4>{{ issues.length }} issue(s)</h4>
				<table width="100%">
					<thead>
						<tr>
							<th></th>
              <th>People</th>
              <th>Description</th>
              <th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="issue in issues">
              <td class="issue-col-id"><i class="fa fa-bug"></i>&nbsp;{{ issue.number }}</td>
              <td class="issue-col-people">
                <img ng-src="{{ issue.user.avatar_url }}" class="has-tooltip avatar-mini" tooltip="Reporter {{ issue.user.login }}" />
                <span ng-show="{{ issue.assignee }}">
                  <i class="fa fa-hand-o-right"></i>
                  <img ng-src="{{ issue.assignee.avatar_url }}" class="has-tooltip avatar-mini" tooltip="Assigned to {{ issue.assignee.login }}" />
                </span>
              </td>
							<td><em>{{ issue.title }}</em></td>
              <td class="issue-col-icons">
                <a ng-href="{{ issue.html_url }}" class="has-tooltip sp-horizontal"
									 tooltip="View this Issue on github" tooltip-placement="left">
									<i class="fa fa-eye"></i>
								</a>
								<a class="has-tooltip sp-horizontal" tooltip="Opened for {{ Projects.since(issue.created_at) }}" tooltip-placement="left">
									<i class="fa fa-clock-o"></i>
								</a>
              </td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
	<hr/>
	</div>






	<aside class="large-3 columns">
		<div class="panel">
			<h5>Select feature <a href="#" class="button primary tiny right">Update</a></h5>
			<p><input type="checkbox" id="display-PRs" ng-model="Projects.display.pullRequests"/>&nbsp;<label for="display-PRs">Pull requests</label></p>
			<p><input type="checkbox" id="display-issues" ng-model="Projects.display.issues" ng-change="Projects.getIssues()"/>&nbsp;<label for="display-issues">Issues</label></p>
		</div>
	</aside>
</div>






<footer class="row">
    <div class="large-12 columns">
		<hr/>
		<div class="row">
			<div class="large-6 columns">
				<p>v1 - Sylvain RAGOT</p>
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><a href="https://github.com/yllieth/srGithubPRs"><i class="fa fa-github"></i>&nbsp;Source code</a></li>
				</ul>
			</div>
		</div>
    </div>
</footer>
