<div class="panel">
	<h1>Github configuration</h1>
	
	<form style="margin-top: 50px" class="clearfix">
		<div class="row sp-separator">
			<div class="small-8">
				<div class="row">
					<div class="small-3 columns">
						<label for="ssh-key" class="right inline">SSH key</label>
					</div>
					<div class="small-9 columns">
						<input type="text" id="ssh-key" placeholder="Set you key here" ng-model="Settings.key" ng-init="Settings.getKey()">
						<button class="right" ng-click="Settings.saveKey()">Save</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row sp-separator" ng-show="Settings.loaded()">
			<div>
				<div class="row">
					<div class="small-4 medium-4 large-2 columns clearfix">
						<img ng-src="{{ Settings.profile.avatar_url }}" class="avatar"/>
					</div>
					<div class="small-8 medium-8 large-10 columns">
						<!-- name -->
						<p>
							<span class="text-bold">Name: </span>
							<span>{{ Settings.profile.name }} <em>aka</em> {{ Settings.profile.login }}</span>
						</p>
						<!-- companies -->
						<p ng-show="Settings.profile.company">
							<span class="text-bold">Company: </span>
							<span>{{ Settings.profile.company }}</span>
						</p>
						<!-- selected repos -->
						<p>
							<span class="text-bold">Selected repos: </span>
							<span>{{ Settings.printSelectedRepos() }}</span>
						</p>
					</div>
				</div>
				
				<div class="sp-top clearfix">
					<div class="left">
						<table ng-init="Settings.currentPage.me = 1">
							<thead>
								<tr>
									<th colspan="3">
										<!--<input type="checkbox" ng-model="Settings.all.myRepos" style="margin-right: 10px"/>-->
										<img ng-src="{{ Settings.profile.avatar_url }}" class="avatar-mini"/>
										<span>My reposiroties</span>
									</th>
								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="repo in Settings.myRepos | slice:(Settings.pagination.nbPerPage * (Settings.currentPage.me - 1)):(Settings.pagination.nbPerPage * (Settings.currentPage.me - 1) + Settings.pagination.nbPerPage)">
									<td><input type="checkbox" ng-model="repo.selected" ng-change="Settings.selected(repo.id, 'me')"/></td>
									<td ng-click="repo.selected = !repo.selected; Settings.selected(repo.id, 'me')">{{ repo.name }}</td>
									<td><i class="fa" ng-class="{'fa-lock': repo.private, 'fa-code-fork': repo.fork}"></i></td>
								</tr>
							</tbody>
							
							<tfoot>
								<tr ng-show="Settings.myRepos.length > Settings.pagination.nbPerPage">
									<td colspan="3">
										<pagination total-items="Settings.myRepos.length" items-per-page="Settings.pagination.nbPerPage"
																page="Settings.currentPage.me" 
																max-size="Settings.pagination.max" 
																class="pagination-sm" 
																boundary-links="true" 
																rotate="false" 
																previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
										></pagination>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>

					<div class="sp-left left" ng-repeat="org in Settings.orgRepos">
						<table ng-init="Settings.currentPage[org.details.login] = 1">
							<thead>
								<tr>
									<th colspan="3">
										<input type="checkbox" style="margin-right: 10px"/>
										<img ng-src="{{ org.details.avatar_url }}" class="avatar-mini"/>
										{{ org.details.login }}
									</th>
								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="repo in org.repos | slice:(Settings.pagination.nbPerPage * (Settings.currentPage[org.details.login] - 1)):(Settings.pagination.nbPerPage * (Settings.currentPage[org.details.login] - 1) + Settings.pagination.nbPerPage)">
									<td><input type="checkbox" ng-model="repo.selected" ng-change="Settings.selected(repo.id, repo.owner.login)"/></td>
									<td ng-click="repo.selected = !repo.selected; Settings.selected(repo.id, repo.owner.login)">{{ repo.name }}</td>
									<td><i class="fa" ng-class="{'fa-lock': repo.private, 'fa-code-fork': repo.fork}"></i></td>
								</tr>
							</tbody>
							
							<tfoot>
								<tr ng-show="org.repos.length > Settings.pagination.nbPerPage">
									<td colspan="3">
										<pagination total-items="org.repos.length" items-per-page="Settings.pagination.nbPerPage"
																page="Settings.currentPage[org.details.login]" 
																max-size="Settings.pagination.max" 
																class="pagination-sm" 
																boundary-links="true" 
																rotate="false" 
																previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
										></pagination>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<a href="#" class="right button secondary">Back</a>
	</form>
</div>